/* Simple css reset */

* {
    box-sizing: border-box;
  }


  body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: #f1f3f6;
  }

/* Gameboard */

  .board {
    display: grid;
    height: 500px;
    width: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-top: 20px;
    border: 1px solid black;
    gap: 2px;
    padding: 2px;
    background-color: ivory;
  }

/* Individual cell */

  .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    text-shadow: 1px 5px 5px black;
    border: 1px solid grey;
    background-color: #006a4e;
    color: white;
    cursor: pointer;
  }

/* Highlight winning combination */

  .highlight {
    border: 1px solid white;
    color: white;
    background-color: #fb5353;
  }

/* Div that displays whose turn is it */

  .turn {
    margin: 0;
    width: 400px;
    height: 80px;
    text-align: center;
    align-content: center;
    font-family: sans-serif;
    font-weight: bold;
    color: #fb5353;
    border: 2px solid lightgray;
    border-radius: 10px;
    word-break: break-word;
  }

/* Interaction section - inputs and reset button */

  .interaction {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 10px;
    border: 2px solid lightgray;
    border-radius: 8px;
  }

/* Inputs and labels */

  input {
    width: 20ch;
    appearance: none;
    color: dimgray;
    border: none;
    outline: 1px solid lightgray;
    border-radius: 4px;
  }

  label {
    width: 100px;
    display: inline-block;
    text-align: left;
    font-family: sans-serif;
    font-weight: 700;
    color: darkgray;
  }

  #player1 {
    margin-bottom: 10px;
  }

/* Restart button */

.restart {
    width: 90px;
    padding: 10px 10px;
    align-self: center;
    font-family: Verdana, sans-serif;
    color: dimgray;
    border: 2px solid lightgray;
    border-radius: 6px;
    text-transform: uppercase;
  }

/* Restart button states */

.restart:hover {
    color: ghostwhite;
    background-color: #fb5353;
    border: 2px solid #fb5353;
  }
  
  .restart:active {
    color: ghostwhite;
    background-color: #006a4e;
    border: 2px solid #006a4e;
  }