/* Simple css reset */

* {
    box-sizing: border-box;
  }


  body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: #f1f3f6;
  }

/* Gameboard */

  .board {
    display: grid;
    height: 500px;
    width: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-top: 20px;
    border: 1px solid black;
    gap: 2px;
    padding: 2px;
    background-color: ivory;
  }

/* Individual cell */

  .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    text-shadow: 1px 5px 5px black;
    border: 1px solid grey;
  /*   background-color: #3f853f; */
    background-color: #2a672a;
    color: white;
    cursor: pointer;
  }

/* Div that displays whose turn is it */

  .turn {
    margin: 0;
    width: 400px;
    height: 80px;
    text-align: center;
    align-content: center;
    font-family: sans-serif;
    font-weight: bold;
    color: #fb5353;
    border: 2px solid lightgray;
    border-radius: 10px;
    word-break: break-word;
  }